doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0') 
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/superhero/bootstrap.min.css")
    script(src='/jquery/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    block content
